* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: hsl(30, 54%, 90%);
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    width: clamp(400px, 50vw, 700px);
    margin: 5em auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.container h1 {
    font-family: "Young Serif", serif;
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color:hsl(24, 5%, 18%);
}

.container p {
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    margin-top: 0px;
    padding-top: 0px;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 40px;
    padding-bottom: 20px;
    font-size: 15px;
}

.preparation h2 {
    font-size: 20px;
    color: hsl(332, 51%, 32%);
    margin-left: -15px;
    margin-bottom: 20px;
    margin-top: -15px;
}

span.bold {
    font-weight: bold;
    padding-right: 3px;
    padding-left: 6px;
    color: hsl(30, 10%, 34%);
}

ul {
    padding-left: 10px;
    margin-top: -5px;
    color: hsl(14, 45%, 36%);
}

li {
    padding-bottom: 10px;
    color: hsl(14, 45%, 36%);
}

.ingredients-container h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 570;}

.ingredients-container ul {
    margin-left: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: hsl(14, 45%, 36%);

    
}

.ingredients-container li {
    color: hsl(14, 45%, 36%);
}

ul li {
 padding-left: 10px;
}

.ingredients-container {
    color:hsl(14, 45%, 36%);
    border-bottom: 1px solid hsl(30, 10%, 34%);
}

.instructions-container {
    border-bottom: 1px solid hsl(30, 10%, 34%);
}
.instructions-container h2{
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 570;
}

.instructions-container li {
    color: hsl(14, 45%, 36%);
    font-size: 16px;
}


.instruction {
    color: hsl(30, 10%, 34%);
    
}

.instructionBold {
    font-weight: bold;
}


ol {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 20px;
}

ol li {padding-left: 15px;}

.Nutrition-container h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 570;}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    color: hsl(14, 45%, 36%);
}

.nutrition-table th{ color:hsl(30, 10%, 34%);
    font-weight: 100;

text-align: left;}
.nutrition-table th,
.nutrition-table td {
    padding: 12px 0;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
      
.nutrition-table td {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}
      

/* @media (min-width: 768px) {
    body {
      background-color: hsl(30, 54%, 90%);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  
    .container {
      width: clamp(600px, 50vw, 750px);
      padding: 40px;
      border-radius: 25px;
      margin: 50px auto;
    }
  
    .container img {
      border-radius: 20px;
    }
  
    h1 {
      font-size: 36px;
    }
  
    p,
    ul, 
    ol,
    .nutrition-table th,
    .nutrition-table td {
      font-size: 18px;
    }
  
    .nutrition-table th,
    .nutrition-table td {
      padding: 15px 0;
    }
  } */
  